Results/
__pycache__/
MANIFEST.txt
config.lintr
.lintr
results/
data/toil_data/
data/recount3_data/
data/wang_data/
data/annotations/gencode.v19.annotation.gtf
data/annotations/GCF_000001405.40/
figures/
